<a href="https://colab.research.google.com/github/SanjayBista1010/Classification/blob/main/nepalShare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [174]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('nepal_stock_market.csv')
df

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status,Company
0,2022-01-02,410.0,412.0,400.1,411.00,0.24,78818.0,32071339.8,1,ADBL
1,2022-01-03,416.0,418.0,412.0,415.00,0.97,35929.0,14924061.5,1,ADBL
2,2022-01-04,422.0,424.0,410.0,422.00,1.69,52990.0,22249267.5,1,ADBL
3,2022-01-05,426.0,430.0,418.0,419.00,-0.71,45591.0,19202068.3,-1,ADBL
4,2022-01-06,420.0,422.0,415.5,421.00,0.48,37485.0,15665637.0,1,ADBL
...,...,...,...,...,...,...,...,...,...,...
83266,2025-04-20,200.3,208.0,200.0,200.58,-1.83,147677.0,29700844.0,1,UPPER
83267,2025-04-21,204.5,204.5,199.8,200.75,0.08,166506.0,33610335.5,-1,UPPER
83268,2025-04-22,200.2,202.4,199.0,199.73,-0.51,144020.0,28809857.6,-1,UPPER
83269,2025-04-23,201.7,201.7,197.0,197.51,-1.11,140211.0,27766853.3,-1,UPPER
83270,2025-04-24,197.0,199.0,196.2,197.18,-0.17,117888.0,23262601.4,1,UPPER

In [175]:
df['published_date'] = pd.to_datetime(df['published_date'])
df['weekday'] = df['published_date'].dt.day_name()
df['month'] = df['published_date'].dt.month
df['week'] = df['published_date'].dt.isocalendar().week
df = df.sort_values('published_date')

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83271 entries, 0 to 83270
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   published_date   83271 non-null  datetime64[ns]
 1   open             82421 non-null  float64
 2   high             83271 non-null  float64
 3   low              83271 non-null  float64
 4   close            83271 non-null  float64
 5   per_change       81271 non-null  float64
 6   traded_quantity  83271 non-null  float64
 7   traded_amount    81711 non-null  float64
 8   status           83271 non-null  int64
 9   Company          83271 non-null  object
 10  weekday          83271 non-null  object
 11  month            83271 non-null  int32
 12  week             83271 non-null  UInt32
dtypes: UInt32(1), datetime64[ns](1), float64(7), int32(1), int64(1), object(2)
memory usage: 8.3+ MB

In [177]:
df.describe()

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status,month,week
count,83271,82421.000000,83271.000000,83271.000000,83271.000000,81271.000000,8.327100e+04,8.171100e+04,83271.000000,83271.000000,83271.0
mean,2023-08-07 03:56:47.529632256,430.768349,439.726728,422.098390,430.262610,0.055818,5.712901e+04,2.264659e+07,-0.143243,5.976787,24.249126
min,2022-01-02 00:00:00,118.000000,120.000000,0.000000,117.100000,-10.000000,1.000000e+01,2.070000e+03,-1.000000,1.000000,1.0
25%,2022-09-16 00:00:00,255.000000,260.000000,249.300000,254.000000,-1.460000,9.984000e+03,3.565771e+06,-1.000000,3.000000,11.0
50%,2023-07-24 00:00:00,345.000000,352.800000,338.000000,344.540000,-0.250000,2.627500e+04,9.340380e+06,-1.000000,6.000000,23.0
75%,2024-06-10 00:00:00,501.000000,512.000000,492.000000,501.000000,1.190000,6.099850e+04,2.281022e+07,1.000000,9.000000,36.0
max,2025-04-24 00:00:00,3608.700000,3646.000000,3523.000000,3575.000000,10.000000,3.037821e+06,1.582512e+09,1.000000,12.000000,52.0
std,NaN,306.258709,312.260621,300.353264,306.144337,2.642168,1.088209e+05,4.348636e+07,0.976150,3.449866,15.014931

In [178]:
df.isna().sum()

published_date        0
open                850
high                  0
low                   0
close                 0
per_change         2000
traded_quantity       0
traded_amount      1560
status                0
Company               0
weekday               0
month                 0
week                  0
dtype: int64

In [179]:
df = df.sort_values(['Company', 'published_date'])
df['open'] = df['open'].fillna(df.groupby('Company')['close'].shift(1))

In [180]:
df.isna().sum()

published_date        0
open                  1
high                  0
low                   0
close                 0
per_change         2000
traded_quantity       0
traded_amount      1560
status                0
Company               0
weekday               0
month                 0
week                  0
dtype: int64

In [181]:
df[df.isna().any(axis=1)]

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status,Company,weekday,month,week
15,2022-01-23,440.0,441.0,428.0,430.2,NaN,42972.0,18568857.5,-1,ADBL,Sunday,1,3
22,2022-02-01,420.0,424.0,418.0,423.0,NaN,33761.0,14242566.1,1,ADBL,Tuesday,2,5
35,2022-02-21,400.0,405.0,398.0,402.0,NaN,27798.0,11132799.4,1,ADBL,Monday,2,8
75,2022-04-26,374.0,377.0,371.5,373.0,NaN,11521.0,4299443.3,-1,ADBL,Tuesday,4,17
89,2022-05-20,366.0,366.0,360.0,364.0,NaN,5095.0,1850894.5,-1,ADBL,Friday,5,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83144,2024-10-01,201.0,215.0,198.0,214.9,7.99,491877.0,NaN,1,UPPER,Tuesday,10,40
83167,2024-11-13,218.1,221.0,216.0,217.8,NaN,191047.0,41589981.3,-1,UPPER,Wednesday,11,46
83211,2025-01-21,199.0,202.6,199.0,200.4,NaN,77141.0,15518938.0,1,UPPER,Tuesday,1,4
83216,2025-01-28,204.9,204.9,200.0,201.7,0.10,183431.0,NaN,-1,UPPER,Tuesday,1,5
83247,2025-03-19,204.0,205.5,201.0,202.7,NaN,168927.0,34234714.1,-1,UPPER,Wednesday,3,12

In [182]:
df['traded_amount'] = df['traded_amount'].fillna(df['traded_quantity'] * df['close'])
df.isna().sum()

published_date        0
open                  1
high                  0
low                   0
close                 0
per_change         2000
traded_quantity       0
traded_amount         0
status                0
Company               0
weekday               0
month                 0
week                  0
dtype: int64

In [183]:
df['per_change'] = df['per_change'].fillna(((df['high'] - df['low']) / df['high']) * 100)
df.isna().sum()

published_date     0
open               1
high               0
low                0
close              0
per_change         0
traded_quantity    0
traded_amount      0
status             0
Company            0
weekday            0
month              0
week               0
dtype: int64

In [184]:
df[df['Company'] == 'SANIMA']

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status,Company,weekday,month,week
64605,2022-01-02,NaN,365.0,354.0,363.00,2.540000,53951.0,19459574.5,1,SANIMA,Sunday,1,52
64606,2022-01-03,367.9,377.0,366.0,372.00,2.480000,55415.0,20542391.9,1,SANIMA,Monday,1,1
64607,2022-01-04,368.0,384.0,365.0,381.90,4.947917,62937.0,23707800.2,1,SANIMA,Tuesday,1,1
64608,2022-01-05,384.0,392.5,373.0,376.00,-1.540000,80827.0,30871358.4,-1,SANIMA,Wednesday,1,1
64609,2022-01-06,377.0,381.9,375.0,378.00,0.530000,61095.0,23092370.8,1,SANIMA,Thursday,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65376,2025-04-20,310.0,313.0,307.0,309.54,1.080000,113708.0,35233967.3,-1,SANIMA,Sunday,4,16
65377,2025-04-21,315.7,315.7,305.0,311.91,0.770000,79029.0,24501253.5,-1,SANIMA,Monday,4,17
65378,2025-04-22,310.0,313.0,307.5,312.19,0.090000,106834.0,33168731.5,1,SANIMA,Tuesday,4,17
65379,2025-04-23,310.0,312.4,308.1,309.29,-0.930000,62979.0,19496040.5,-1,SANIMA,Wednesday,4,17
65380,2025-04-24,310.5,310.5,306.2,306.89,-0.780000,36881.0,11339061.3,-1,SANIMA,Thursday,4,17

In [185]:
df['open'] = df['open'].fillna(360)
df.isna().sum()

published_date     0
open               0
high               0
low                0
close              0
per_change         0
traded_quantity    0
traded_amount      0
status             0
Company            0
weekday            0
month              0
week               0
dtype: int64

# General EDA Questions

How many unique companies are in the dataset? Which company has the most trading records?

In [186]:
df['Company'].nunique()

121

In [187]:
df['Company'].value_counts().head(90)

Company
ADBL     776
AHPC     776
AKJCL    776
AKPL     776
ALICL    776
        ...
SAHAS    776
SADBL    776
RURU     776
RLFL     776
SINDU    776
Name: count, Length: 90, dtype: int64

What are the average, minimum, and maximum values for open, close, traded_amount, and per_change?

In [188]:
df[['open','close','traded_amount','per_change']].describe().loc[['mean','min','max']]

             open       close  traded_amount  per_change
mean   430.877948   430.26261   2.264881e+07    0.148121
min    118.000000   117.10000   2.070000e+03  -10.000000
max   3608.700000  3575.00000   1.582512e+09   16.127673

What is the distribution of daily percent change (per_change)? Are there more gain days or loss days?

In [189]:
gain_days = (df['per_change'] > 0).sum()
loss_days = (df['per_change'] < 0).sum()
neutral_days = (df['per_change'] == 0).sum()

print(f"Gain days: {gain_days}")
print(f"Loss days: {loss_days}")
print(f"Neutral days: {neutral_days}")

Gain days: 36914
Loss days: 43900
Neutral days: 2457

How frequently do companies have a positive (status = 1) vs negative (status = -1) performance?

In [190]:
df.groupby(['Company', 'status']).size().reset_index(name='count')

    Company  status  count
0      ADBL      -1    462
1      ADBL       0     29
2      ADBL       1    285
3      AHPC      -1    482
4      AHPC       0     15
..      ...     ...    ...
357    UPCL       0     26
358    UPCL       1    280
359   UPPER      -1    486
360   UPPER       0     20
361   UPPER       1    270

[362 rows x 3 columns]

Are there any correlations between features like open, high, low, close, and traded_amount?

In [191]:
features = ['open', 'high', 'low', 'close', 'traded_amount']
corr_matrix = df[features].corr()
corr_matrix

                   open      high       low     close  traded_amount
open           1.000000  0.999224  0.999287  0.998807       0.231062
high           0.999224  1.000000  0.998834  0.999484       0.241470
low            0.999287  0.998834  1.000000  0.999027       0.226420
close          0.998807  0.999484  0.999027  1.000000       0.236208
traded_amount  0.231062  0.241470  0.226420  0.236208       1.000000

What are the top 5 days with the highest trading volume and how did the prices behave on those days?

In [192]:
df.sort_values(by='traded_quantity', ascending=False).head(5)

,published_date,open,high,low,close,per_change,traded_quantity,traded_amount,status,Company,weekday,month,week
49879,2024-08-08,285.0,311.3,280.0,307.50,8.66,3037821.0,9.246939e+08,1,NIFRA,Thursday,8,32
83016,2024-03-14,180.0,190.7,170.0,187.90,2.34,2768765.0,5.089081e+08,1,UPPER,Thursday,3,11
25219,2025-04-17,663.0,711.0,600.0,667.89,0.89,2531957.0,1.582512e+09,1,HPPL,Thursday,4,16
29803,2024-08-18,261.1,272.9,253.0,259.00,1.17,2489844.0,6.593896e+08,-1,KBL,Sunday,8,33
29790,2024-07-29,216.6,233.5,216.6,222.00,4.52,2463069.0,5.522761e+08,1,KBL,Monday,7,31

Are there any missing values in the dataset? In which columns are they most common, and how might that affect analysis?

Missing data mainly in open, per_change, and traded_amount. These can be filled or recalculated using other columns.

Which companies experienced the highest average daily percent increase/decrease over time?

In [193]:
df.groupby('Company')['per_change'].mean().sort_values(ascending=False).head(10)

Company
NBB       0.598848
GRDBL     0.395646
CORBL     0.383733
NABBC     0.376664
NRN       0.326840
SAPDBL    0.324233
NYADI     0.303486
SINDU     0.288971
NFS       0.286693
KRBL      0.282605
Name: per_change, dtype: float64

In [194]:
df.groupby('Company')['per_change'].mean().sort_values(ascending=False).tail(10)

Company
SRBL    -0.046099
RLI     -0.055183
LBL     -0.066658
JLI     -0.123045
GLICL   -0.127232
BOKL    -0.149393
ULI     -0.206392
PLIC    -0.307304
SLICL   -0.329394
NIB     -0.897701
Name: per_change, dtype: float64

# 3. Bonus Questions (Advanced EDA)

Can we identify patterns before major spikes or dips in close price?

Is there any seasonality or recurring monthly/weekly pattern in trading activity or price change?

In [195]:
df.groupby('weekday')['per_change'].mean()

weekday
Friday      -0.707805
Monday       0.100828
Sunday       0.171913
Thursday    -0.065075
Tuesday      0.261968
Wednesday    0.343569
Name: per_change, dtype: float64

In [201]:
df.groupby('week')['per_change'].mean()

week
1     1.159131
2     1.109201
3     0.328114
4     0.012628
5    -0.033894
6    -0.091370
7     0.003668
8    -0.069539
9    -0.421876
10    0.646238
11   -0.270865
12   -0.418662
13   -0.003539
14   -0.247544
15    0.056400
16    0.054897
17   -0.230863
18   -0.627420
19    0.420620
20    0.240180
21    0.283295
22   -0.416690
23    0.164814
24    0.025414
25    0.290901
26    0.468803
27    0.024497
28    0.569322
29    1.360290
30    0.752750
31    0.128270
32   -0.073331
33    0.532221
34   -0.480923
35   -0.599498
36   -0.263622
37   -0.229948
38   -0.141781
39   -0.473472
40    1.260445
41   -0.374734
42    0.129948
43   -0.412916
44    0.724072
45    0.058343
46    0.861260
47    0.399685
48   -0.003181
49    0.086895
50    0.344985
51   -0.201748
52    1.294574
Name: per_change, dtype: float64

In [196]:
df.groupby('month')['per_change'].mean()

month
1     0.622833
2    -0.061354
3    -0.044206
4    -0.086056
5    -0.111942
6     0.264878
7     0.729003
8    -0.177253
9    -0.209909
10    0.135849
11    0.365334
12    0.246336
Name: per_change, dtype: float64

Are there anomalies or outliers in trading volume or price movements?